*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 150%;
	margin:4%;
    max-width: 100%;

}

h1{
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 2%;
}

header{
     
    width:90%;
   margin: 5rem;
   padding: 2rem;
    background-image: url(/hw1.css/Frisbee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
  
}
nav{
    
	font-family: Arial, "Times New Roman", serif;
	font-size: 2rem;
    font-weight: bold;
}
nav a{
  display: inline-block;
  width: 20%;
  margin: 2rem;
  padding-left: 4%;
    color: #000000;
    background: rgba(196, 194, 194, 0.339);
    text-decoration: none;
    border-radius: 2rem;
  
    
}
a:hover{
    background: white;
}
a:focus{
    background: rgba(255, 255, 255, 0.898);
    
}
a:active{
background:white;
}

main{
    width: 90%;
    margin-right: 4.8%;
    padding-bottom: 2%;
    display:flex;
    flex-direction:row;
    float: right;
    position: relative;
    right: 1.5%;
    bottom: 96px;
    
}

img{
    display: block;
    border: solid 3px black;
    width: 300px;
    height: 150px;
    margin: 1rem;
    
}
.left{
    display: block;
    width: 80%;
    margin: 1%;
    background: olive;
    
}
.rigth{
    font-size: 2rem;
    padding: 1%;
    

}
p{
    font-size: 1.8rem;
    font-family:'Times New Roman', Times, serif;
    margin: 1rem;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
