*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin: 3rem;
    padding: 2rem;
    color: white;
    background-color: rgb(184, 190, 212);
   
}
h1{
    
    text-transform: capitalize;
    font-size:4rem;
    line-height: 50px;
    text-align:center;
    position: relative;
    bottom: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    
    
}
a{
    color: black;
    background-color: silver;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 0.3rem;
    position: relative;
    bottom: -35px;
}
section{
    margin: 2rem;
    padding: 0.7rem;
    background-color: rgb(148, 160, 178);
    
}
h2{
    color: blue;
    font-size: 3rem;
    position: relative;
    bottom: 20px;
    
}
p{
    font-size: 1.5rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
 .lista{
    position: relative;
    bottom: -5px;
    
    
    
}
li{
margin-left: 1rem;
}
